body {
  background-image: url('./images/win98.jpg');
  background-repeat: no-repeat;
  padding-top: 20px;
  padding-bottom: 20px;
}

.desktop {
  background-color: #2cadfdc9;
  padding-bottom: 55px;
  margin-top: 30px;
  padding-top: 10px;
  margin-bottom: 0;
  padding-left: 150px;
  border-radius: 10px;
}

.sidebar{
  font-size: 16px;
  float: left;
  position: left;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600; 
  margin-top: 30px;
  padding-bottom: 475px;
  border-radius: 6px;
  margin-left: 15px;
}

.title {
  font-weight: 800;
}

.outputbox {
  background-color: white;
  height: 500px;
  font-size: 14;
  margin-top: 20px;
  margin-right: 15px;
  border-radius: 5px;
  padding-left: 15px;
  padding-top: 10px;
  margin-left: 15px;
  overflow-y: auto;
}

span {
  font-weight: 600;
}

.user {
  color:black;
  font-weight: 600;
}

.form-control {
  color: black;
  margin-top: 4%;
  margin-left: 0;
  border-radius: 5px;
  padding-bottom: 20px;
  padding-top: 60px;
}
.button {
  float: right;
  margin-top: 15px;
  padding-top: 6px;
  padding-bottom: 10px;
}

