body {
  background-image: url('./images/win98.jpg');
  background-repeat: no-repeat;
  padding-top: 20px;
  padding-bottom: 20px;
}

.desktop {
  background-color: #2cadfdc9;
  padding-bottom: 55px;
  margin-top: 30px;
  padding-top: 10px;
  margin-bottom: 0;
  padding-left: 150px;
  border-radius: 10px;
}
.sidebar {
  font-size: 12px;
}

