.sidebar{
  font-size: 16px;
  float: left;
  position: left;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600; 
  margin-top: 30px;
  padding-bottom: 475px;
  border-radius: 6px;
  margin-left: 15px;
}

.title {
  font-weight: 800;
}