
body{
  background-color: grey;
  background-position: auto;
  padding-top: 20px;
  padding-bottom: 20px;

}

.desktop {
  background-color: #2cadfdc9;
  padding-bottom: 40px;
  margin-top: 30px;
  padding-top: 10px;
  margin-bottom: 0;
  max-height: 800px;
  padding-left: 150px;
  border-radius: 5px;

}
