.form-control {
  color: black;
  margin-top: 5%;
  margin-left: -15px;
  border-radius: 5px;
  padding-bottom: 20px;
  padding-top: 60px;
}
.button {
  float: right;
  margin-top: 10px;
  margin-right: 15px;
  padding-top: 6px;
}
